body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
text-decoration: none;
color: #2E2F42;
font-style: normal;
}

img {
    display: block;
}

.container {
width: 1440px;
}

/* HEADER */

.header-header{
display: flex;
justify-content: space-around;
}
.header-box{
    display: flex;
    align-items: center;
    /* margin: 24px 0; */

}

.header-list{
    display: flex;
    gap: 40px;
    margin: 24px 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo1 {
    color: #2E2F42;
    padding-right: 76px;
}

.nav {
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.my-info{
    font-family: var(--font-family);
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.my-info:hover, .my-info:focus {
    color: #404bbf;
}



.nav:hover, .nav:focus{
    color: #404bbf;
}

/* SECTION`s */

.section-one .container{
    align-items: center;
}

.section-one {
    background-color: #2E2F42;
text-align: center;
padding-top: 188px;
padding-bottom: 188px;
}

.title{
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        align-items: center;
        color: #FFFFFF;
        width: 496px;
        margin-left: 472px;
        margin-right: 472px;
        padding-bottom: 48px;
}

.btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 32px;
    /* align-items: center; */
}

.btn:hover, .order-service:focus{
    background-color: #404BBF;
}

/* Section Two */

.section-two-list{
    display: flex;
    margin: 120px 156px;
    gap: 24px;
}

.section-two-item{
    width: 264px;
}

.benefits-title{
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding-bottom: 8px;
}

.team-title{
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        text-transform: capitalize;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

/* Section three */

.section-three-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-bottom: 120px;
}

.section-three-title{
        font-family: var(--font-family);
            font-weight: 700;
            font-size: 36px;
            text-transform: capitalize;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2E2F42;
            padding-top: 120px;
            padding-bottom: 72px;
}

.section-three-photo{
    margin-bottom: 32px;
}
.section-three-team{
    background-color: #FFFFFF;
    text-align: center;
}

.section-three{
    background: #F4F4FD;
}

.section-three-text{
    padding-bottom: 32px;
}

/* Section Four */

.section-four{
padding: 120px 156px;
}

.section-four-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.section-four-photo{
    padding-bottom: 32px;
}

.section-four-title{
        font-family: var(--font-family);
            font-weight: 700;
            font-size: 36px;
            text-transform: capitalize;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2E2F42;
            padding-bottom: 72px;
}

.section-four-product{
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding-bottom: 8px;
            padding-left: 16px;
}

.section-four-text{
    padding-bottom: 32px;
    padding-left: 16px;
}

/* Footer */

.footer{
    background-color: #2E2F42;

}


.footer-logo{
    color: #F4F4FD;
}

.footer-text{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

